<!DOCTYPE html>
<head>
</head>

<body>
<iframe frameborder="0" scrolling="no" src="<%= @play.appetize_url(embed: true, screen_only: true) %>" width="320px"></iframe>

<script>

var iframe = document.querySelector('iframe');

function saveScreenshot(){
    iframe.contentWindow.postMessage('saveScreenshot', '*');
}

// Receiving messages from iframe in parent window
var messageEventHandler = function(event){

  if(event.data == 'firstFrameReceived'){
    console.log('firstFrameReceived');
    setTimeout(function() {
       saveScreenshot();
    }, 8000);

  }
};

window.addEventListener('message', messageEventHandler, false);

</script>

</body>
</html>
