.row.homepage-example
  .homepage-example__code
    = text_area_tag :body, @app.body, style: "height: 607px"
  .homepage-example__simulator
    iframe src="#{@app.appetize_url(embed: true)}" width="378px" height="620px" frameborder="0" scrolling="no"

javascript:
  $("textarea").each(function() {
      CodeMirror.fromTextArea($(this).get(0), {
        lineNumbers: true,
        mode: "javascript",
        theme: 'solarized',
        readOnly: true,
        lineWrapping: true
      });
    });
