<div class="container <% if params[:action] == 'picks' %>container--picks<% end %>">
  <div class="col-sm-5">
    <h3>Test and share React Native code, on iOS and Android, <strong>in the browser</strong>.</h3>
    <p style="margin-top: 2em; margin-bottom: 2em">We disabled signups, as we're shutting down. But...</p>
    <a style="font-size: 120%; border: 1px solid #ddd; padding: 10px; background-color: #fff" href="https://sketch.expo.io">Try out Expo's Sketch - a replacement for rnplay.org</a>
  </div>

  <div class="col-sm-7">
    <%= render partial: '/apps/apps', locals: {apps: @apps} %>
  </div>


</div>
