<div class="container <% if params[:action] == 'picks' %>container--picks<% end %>">
  <header>
    <h1 class="title">Test and share React Native code samples</h1>
  </header>

  <%= render partial: '/apps/apps', locals: {apps: @apps} %>

</div>
