<div class="container <% if params[:action] == 'picks' %>container--picks<% end %>">
  <header style="text-align: center">
    <h1 class="title" style="text-align: center">The playground is being cleaned up!</h1>
    <p>We've run a bit over capacity with all the apps you've been creating here!</p>
    <p>Please bear with us as we upgrade our React Native packager infrastructure.</p>
  </header>

</div>
