$simulator-width: 350px;

.editor-simulator-container {
  border-left: 1px solid #ddd;
  max-width: $simulator-width;
  min-width: $simulator-width;
  text-align: center;
  width: $simulator-width;

  &__header {
    &__text { padding-right: 5px; }
  }

  /* Simulator iframe has some weird styles,
     hence the padding left. */
  &__simulator {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 20px;
    width: $simulator-width;
  }

  &__controls {
    cursor: pointer;
    font-size: 80%;
    margin-top: 20px;
    text-transform: uppercase;

    a {
      display: inline-block;
      padding: 0 7px;
    }
  }

  &__title {
    color: #999;
    display: block;
    font-size: 0.9em;
    letter-spacing: 1px;
    padding: 0 5px 5px 5px;
    text-align: left;
    text-transform: uppercase;
  }

  &__settings {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    & > * { margin: 0 10px; }

    label {
      font-weight: normal;
      padding: 0 5px;

      input { margin-right: 5px; }
    }

    &--single {
      display: flex;
      line-height: 30px;
      vertical-align: middle;
      
      // Vertical aling, hence 1px top padding 
      span { padding: 1px 5px 0 0; }
    }
  }
}

.switch {
  border-radius: 3px;
  border: 1px solid $editor-border-color;
  display: inline-block;
  margin: 20px auto 0 auto;

  input { display: none; }

  .label {
    background: rgba(0,0,0,.05);
    border-radius: 0;
    color: #444;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: all 0.2s ease-out;
    width: 72px;
    cursor: pointer;

    &:hover { background: transparent; }
  }

  .selected {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 1px $editor-border-color;

    // Don't change on hover
    &:hover { background: #fff; }

    span {
      color: $editor-color-purple;
      font-weight: bolder;
    }
  }
}

.build-picker {
  &__container {
    padding: 0 5px;
  }
}
