.editor-tab-bar {
  flex-shrink: 0;
  background: $editor-color-darkgrey;
  border-bottom: 1px solid $editor-border-color;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.09);
  position: relative;
  z-index: 5;
  display: flex;

  &__save {
    height: 30px;
    border: 0;
    width: 100px;
    background-color: $editor-color-purple;
    color: white;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .08em;
    position:absolute;
    right: 0;
  }

  &__save:hover {
    font-weight: bold;
  }

  &__tab {
    background: $editor-color-light-grey;
    border-right: 1px solid $editor-border-color;
    display: inline-block;
    padding: 0 15px;

    &__circle {
      display: inline-block;
      width: 8px;
      height: 8px;
      border: 1px solid #AD9745;
      background: #FFE06E;
      border-radius: 100%;
      margin-left: 10px;
    }

    &__button {
      background: #fff;
      border-right: 1px solid $editor-border-color;
      display: flex;
      align-items: center;
      padding: 0 10px;
      cursor: pointer;

      &:hover { background: transparent; }

      &--wide {
        width: 200px;

        .editor-tab-bar__icon--right {
          transform: rotateY(180deg);
        }
      }
    }
  }

  &__text { padding: 0 10px; }

  &__flash-message {
    animation: fadeout 4s;
    color: lighten(#333, 10%);
    font-style: italic;
    padding: 0 15px;
    opacity: 0;
  }

  &__icon {
    color: $editor-color-purple;

    &--right {
      color: #444;
      margin-left: auto;
    }
  }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
