.btn {
  font-size: 1.7rem;
}

.btn-action {
  background: $color-purple;
  border-color: $color-purple;
  color: #fff;
  display: block;

  &:hover,
  &:active,
  &:focus {
    background: $color-purple-light;
    border-color: $color-purple-light;
    color: #fff;
  }

  &--inline {
    display: inline-block;
    margin-right: 8px;
  }
}

.btn-login {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: hsl(214, 50%, 50%);

  &:hover {
    background: #f5f5f5;
    border-color: #afafaf;
  }
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 13px 25px;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 5px;
}

.omniauth { margin: 16px 0; }
