<div style="display: flex; width: 100%">
<%= react_component 'EditorApp',
      app: {
        id: @app.id,
        body: @app.body,
        appetizeUrl: @app.appetize_url(embed: true, autoapp: params[:autoapp], app_params: {route: params[:route]}),
        creatorId: @app.creator_id,
        buildId: @app.build_id,
        name: @app.name,
        picked: @app.pick,
        urlToken: @app.url_token,
        multiFile: @app.uses_git,
        files: @app.git_file_contents
      },
      currentUser: current_user,
      useVimKeyBindings: user_signed_in? && current_user.use_vim_keybindings?,
      useDarkTheme: user_signed_in? && current_user.use_dark_theme?,
      builds: Build.all,
      headerLogoSrc: asset_path('header_logo.png') %>
</div>
