<div class="container" style="text-align: center; padding-bottom: 50px;">
  <h1 style="margin-bottom: 40px">My apps</h1>
  <ul class="list-unstyled play-list" id="apps">
  <% if @apps.empty? %>
    <p>
      You haven't created any apps yet.
      <br><br><%= link_to "Make your first app!", new_app_path, class: 'btn btn-info' %>
    </p>
  <% end %>
  <% @apps.each do |f| %>
    <li>
      <%= link_to f.name || f.module_name, app_path(f.url_token) %>
      <p>Updated <%= distance_of_time_in_words(f.updated_at, Time.now) %> ago</p>
      <%= link_to 'delete', app_path(f), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %>
    </li>
  <% end %>
  </ul>
</div>
