<div class="container" style="text-align: center; padding-bottom: 50px;">
  <h1 style="margin-bottom: 40px">Staff picks</h1>
  <p style="margin-bottom: 30px">Try out some of these exemplary React Native sample apps.</p>

  <%= render partial: 'apps', locals: {apps: @apps} %>
  
</div>
