<div class="container container--picks">
  <h1 class="title">
    <% if @user.name || @user.username %>
      <%= @user.name || @user.username %>'s Apps
    <% else %>
      
    <% end %>
  </h1>
  <ul class="list-unstyled" id="apps">
  <% if @user.apps.empty? %>
  	<p>This user hasn't created any public apps.</p>
  <% else %>
  	<%= render partial: 'apps', locals: {apps: @user.apps} %>
  <% end %>
</div>
