<% if !@app.enabled %>

<div style="display: flex; flex-direction: column; align-items: center; width: 500px; justify-content: center; text-align: center; margin: 0 auto; margin-top: 100px">
  <%= image_tag("cat.jpg", style: "border-radius: 200px") %>
<h2>Sorry!</h2>
<h3>This app is no longer available.</h3>
<h4 style="margin-bottom: 30px">You can still <%= link_to "view the raw source files", raw_index_app_path(@app) %></h4>
<p>We had to disable apps created before switching our client to <a href="http://exponentjs.com">Exponent JS</a>. Sorry about that! <a href="https://rnplay.org/apps/picks">See how other example apps are written now</a>. If you have questions, email us! info@rnplay.org.</p>
</div>


<% else %>

<div id="editor-container" class="editor-app"></div>
<script>
  window.__data = <%=
      raw({app: {
        id: @app.id,
        body: @app.body,
        ios: @app.ios?,
        platform: @app.build.platform,
        hasMultipleFiles: @app.has_multiple_files?,
        moduleName: @app.module_name,
        packagerUrlTemplate: @app.packager_url_template,
        packagerRoot: @app.packager_root,
        enabled: @app.enabled,
        bundlePath: @app.cross_platform_bundle_path,
        android: @app.android?,
        creator: {username: @app.creator.username, name: @app.creator.name, id: @app.creator_id},
        buildId: @app.build_id,
        name: @app.name,
        picked: @app.pick,
        urlToken: @app.url_token,
        multiFile: @app.uses_git,
        files: @app.target_git_repo.files_with_contents,
        url_params: params
      },
      currentUser: current_user,
      useVimKeyBindings: user_signed_in? && current_user.use_vim_keybindings?,
      useDarkTheme: user_signed_in? && current_user.use_dark_theme?,
      isDevelopment: Rails.env.development?,
      builds: Build.all.as_json(methods: [:short_name, :exponent]),
      headerLogoSrc: asset_path('header_logo.png')}.to_json) %>
</script>
<% end %>
