/**
 * The main Editor stylsheet
 *
 *  - Includes variables
 *  - Imports partials
 *  - Layout for main components using flexbox
 */

// Color burger
$editor-border-color: #DCDCDC;
$editor-color-darkgreen: #149085;
$editor-color-darkgrey: #EDEDED;
$editor-color-light-grey: #F6F6F6;
$editor-color-purple: #5C069A;

// Components
@import 'editor/header';
@import 'editor/tab-bar';
@import 'editor/logger';
@import 'editor/file-selector';
@import 'editor/simulator';
@import 'editor/main-menu';
@import 'editor/modal';
@import 'editor/backdrop';

.editor-app, .editor-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100vh;
  width: 100%;
  font-size: 14px;
}

.editor-app { color: #444; }

.editor-container { flex-direction: column; }

.editor-container > * { flex: 1 1 auto; }
.editor-wrap { display: flex; }

.editor-wrap {
  display: flex;
  overflow-y: hidden;
}

.editor {
  overflow-y: scroll;
  width: 100%;
}

.editor-button {
  color: $editor-color-purple;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;

  &:hover {
    background: $editor-color-purple;
    color: #fff;
    text-decoration: none;
  }

  i { padding-right: 5px; }
}

// Override CodeMirror theme
.cm-s-solarized.CodeMirror {
  box-shadow: none !important;
}