.logger {
  flex-shrink: 0;
  transition: height 0.3s ease;
  height: 20px;
  overflow: scroll;
  background-color: #F9F9F9;

  display: flex;
  flex-direction: column;

  &.open {
    height: 30%;
  }

  &__toggle {
    height: 10%;
    width: 100%;
    display: block;
    color: #222;
    font-family: proxima-nova;
    font-weight: 700;
    background-color: #DDD;
    border: none;
    min-height: 20px;
    text-align: left;
    padding: 0 1em;
    font-size: 1.2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    border-top: 1px solid #B2B2B2;

    &__unread {
      background-color: #FF9B00;
      padding: 0.2em 0.6em;
      border-radius: 0.8em;
      font-weight: 400;
      font-size: 1rem;
      margin-right: 0.5em;
    }
  }

  &__content {
    overflow: scroll;
    font-family: monospace;
  }

  &__entry {
    color: #333;
    border-bottom: 1px solid #C2C2C2;
    padding: 0.2em 1em;
  }

  .dark-theme & {

    background-color: #171717;

    &__toggle {
      color: #fff;
      background-color: #222;
      border-top: 1px solid #3A3A3A;
    }

    &__content {
      color: #fff;
    }

    &__entry {
      color: #fff;
      border-bottom: 1px solid #242424;
    }
  }
}
