.modal-container {
  display: none;

  &.is-visible {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;

    .modal {
      display: block !important;
    }
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(204,204,204,0.77);
    overflow: hidden;
    margin: 15px 0 15px 0;
    padding: 35px;
    top: 100px;

    z-index: 1001;
    width: 80%;
    max-width: 750px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
  }

  .modal--actions {
    padding-top: 20px;

    a:last-child {
      margin-bottom: 0;
    }
  }

  .modal--body {
    h1 {
      font-size: 28px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
    }
  }
}

.qr-modal-body {
  text-align: center;
}

.git-modal-body {
  text-align: center;
}
